.next
node_modules
out
coverage
.DS_Store
*.md
*.mdx
*.svg
*.png
*.jpg
*.jpeg
*.gif
*.ico
*.eot
*.ttf
*.woff
*.woff2
*.css
*.scss
*.sass
*.less
*.yaml
*.toml
*.json
*.graphql
*.graphqls
*.gql
.env*.local
!.prettierrc
!.eslintrc.json
